.selectedPetInfo{
    background-color: #A9B7C0;
    min-height: 100vh; /* will cover the 100% of viewport */
    /* text-align: center; */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px; /* height of your footer */  
}

.petImg {
    width: 200px;
    height: 200px;
}

.petName{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: tan;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.new-pet-form{
    background: #697184;
    border-radius: 15px;
}

/* content of form  */
.modal-content{
    border-radius: 15px!important;
    color:black;
}

.h4{
    font-size: 34px!important;
    font-weight: bold;   
}

.form-label{
    font-size: 32px!important;
    font-weight:400; 
}

/* close button on form */
.form-buttons{
    background:salmon!important;
}

.form-buttons:hover{
    background:cornsilk!important;
    color: black !important;
}